@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
  }

  @media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    .facebook {
      margin-bottom: 10px;
    }
    
    .Twitter {
        margin-bottom: 10px;
    }

    .WhatsApp {
        margin-bottom: 10px;
    }

    .Line {
        margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }

    .header-right {
        display: none;
      }

      .menu-icon {
        display: block;
      }
      
      .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
      }
      
      .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
      }
    }